<div class="publication-container">
  <div class="left">

    <div class="title">
      <div class="ribbon"></div>
      <span class="publication-name" [innerHTML]="ref().displayName | safe"></span>
    </div>

    @if (ref().author[0]; as firstAuthor) {
      <div class="authors-container">
        <div class="authors">
          <!-- First author -->
          <!--        <a [href]="environment + '/content/detail/person/'+ firstAuthor.dbId" target="_blank"> -->
          <span>{{ firstAuthor.surname }} {{ firstAuthor.initial }}</span>
        <!--        </a>-->
        <!-- Show the rest of the authors when expanded -->
        @if (isExpanded) {
          <ng-container class="additional-authors">
            @for (author of ref().author.slice(1); track author) {
              <span>
                <!--          <a [href]="environment + '/content/detail/person/'+ author.dbId" target="_blank">-->
                , {{ author.surname }} {{ author.initial }}
              <!--          </a>-->
            </span>
          }
        </ng-container>
      }
      <!-- ORCID-->
      @if (firstAuthor.orcidId) {
        <span>
          <a [href]="'https://orcid.org/' + firstAuthor.orcidId" target="_blank">
            <mat-icon class="ref-icon" [svgIcon]="'orcid'"></mat-icon>
          </a>
        </span>
      }
      <!--et al.-->
      @if (ref().author.length > 1 && !isExpanded) {
        <span>&nbsp;et al.</span>
      }
      <!--year-->
      @if (showYear()) {
        <span>&nbsp;{{ ref().year }}</span>
      }
      <!--icon-->
      @if (ref().author.length > 1) {
        <span>
          <mat-icon class="ref-icon" [svgIcon]="isExpanded ? 'collapse' : 'expand' " (click)="toggleAuthors()"></mat-icon>
        </span>
      }
    </div>
  </div>
}

</div>
<div class="right">
  <div class="journal">
    <span class="journal-name"> {{ ref().journal }}</span>
  </div>
  @if (ref().url) {
    <div class="quote-container">
      <a [href]="ref().url" target="_blank">
        <mat-icon class='quote-icon' [svgIcon]="'format-quote'"></mat-icon>
      </a>
    </div>
  }
</div>
</div>
