  <app-carousel>
    <a class="shortcut-link" href="/PathwayBrowser"
      ><app-button variant="dark" size="large"
        ><mat-icon class="large-button-icon">account_tree</mat-icon>Pathway
        Browser
      </app-button></a
    >
    <a class="shortcut-link" href="/PathwayBrowser/#TOOL=AT"
      ><app-button variant="dark" size="large"
        ><mat-icon class="large-button-icon">analytics</mat-icon>Analysis Tools
      </app-button></a
    >
    <a class="shortcut-link" href="/chat"
      ><app-button variant="dark" size="large"
        ><mat-icon class="large-button-icon">smart_toy</mat-icon>AI Chatbot
      </app-button></a
    >
    <a class="shortcut-link" href="/userguide/reactome-fiviz"
      ><app-button variant="dark" size="large"
        ><mat-icon class="large-button-icon">hub</mat-icon>ReactomeFIViz
      </app-button></a
    >
    <a class="shortcut-link" href="/documentation"
      ><app-button variant="dark" size="large">
        <mat-icon class="large-button-icon">school</mat-icon>Documentation
      </app-button></a
    >
  </app-carousel>