.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 16px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  min-width: max-content;
}

.stat-item-icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
    line-height: 48px;
    margin-bottom: 8px;
}

.left-button, .right-button {
  
}