<app-page-layout [showSidebar]="!!obj()" [showBreadcrumb]="true" [customSidebar]="true">
  @if (obj()) {
    <app-sidebar
      class="page-sidebar-slot"
      [sectionsMode]="true"
      sectionsTitle="On this page"
      sectionsIcon="list"
      [sections]="tocItems()"
      [activeSectionKey]="selectedTocKey()"
      (sectionSelected)="selectTocItem($event)"
    />
  }

  @if (loading()) {
    <div class="loading-container">
      <mat-spinner diameter="48"></mat-spinner>
    </div>
  } @else if (error()) {
    <div class="error-container">
      <h2>Entity not found</h2>
      <p>The requested entity could not be found.</p>
    </div>
  } @else if (obj()) {
    <div class="detail-container">
      <cr-description-tab [obj]="obj()!" [showLocations]="true">
        <app-detail-download-bar [obj]="obj()!" />
        <app-detail-diagram [obj]="obj()!" />
      </cr-description-tab>
    </div>
  }
</app-page-layout>
