:host {
  width: 100%;
}

.element-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 10px;
  width: 100%;
}


.composition-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 10px;
  border-left: 2px solid var(--outline-variant);
  flex: 1;

  font: var(--mat-sys-body-medium);
}

.margin-right {
  margin-right: var(--margin-right);
}
