<header class="navbar-header">
  <div class="navbar-logo">
    <a routerLink="/" class="logo-link">
      <img
        src="assets/logo/logo.png"
        alt="Reactome Pathway Database"
        class="logo-image light-only"
      />
      <img 
        src="assets/logo/logo-dark.png" 
        alt="Reactome Pathway Database" 
        class="logo-image dark-only" 
        />
    </a>
  </div>

  <nav class="navbar-nav">
    <mat-icon
      class="menu-icon"
      *ngIf="windowWidth <= hamburgerBreakpoint"
      (click)="toggleHamburgerMenu()"
      >menu</mat-icon
    >
    <ul class="nav-list" *ngIf="windowWidth > hamburgerBreakpoint || activeHamburgerMenu">
      <li
        *ngFor="let option of navOptions | keyvalue : preserveOrder"
        class="nav-item"
        [class.active]="activeDropdown === option.key"
        (mouseenter)="showDropdown(option.key)"
        (mouseleave)="hideDropdown()"
        (click)="toggleDropdown(option.key)"
      >
        <ng-container *ngIf="asNavOption(option.value) as navOption">
          <div class="nav-link-wrapper">
            <a
              *ngIf="!navOption.external"
              [routerLink]="
                windowWidth > hamburgerBreakpoint || navOption.label == 'Download'
                  ? navOption.link
                  : null
              "
              class="nav-link"
              [class.has-dropdown]="hasDropdownLinks(navOption.dropdownLinks)"
            >
              <mat-icon>
                {{ navOption.icon }}
              </mat-icon>
              {{ navOption.label }}
              <mat-icon
                *ngIf="hasDropdownLinks(navOption.dropdownLinks)"
                class="dropdown-arrow"
              >
                keyboard_arrow_down
              </mat-icon>
            </a>
            <a
              *ngIf="navOption.external"
              [attr.href]="
                windowWidth > hamburgerBreakpoint || navOption.label == 'Download'
                  ? navOption.link
                  : null
              "
              class="nav-link"
              [class.has-dropdown]="hasDropdownLinks(navOption.dropdownLinks)"
            >
              <mat-icon>
                {{ navOption.icon }}
              </mat-icon>
              {{ navOption.label }}
              <mat-icon
                *ngIf="hasDropdownLinks(navOption.dropdownLinks)"
                class="dropdown-arrow"
              >
                keyboard_arrow_down
              </mat-icon>
            </a>
          </div>

          <div
            *ngIf="hasDropdownLinks(navOption.dropdownLinks)"
            class="dropdown-menu"
            [class.show]="activeDropdown === option.key"
          >
            <ng-container
              *ngTemplateOutlet="
                dropdownItems;
                context: { $implicit: navOption.dropdownLinks, level: 0 }
              "
            ></ng-container>
          </div>
        </ng-container>
      </li>
      <li class="nav-item dark-toggle-item">
        <mat-slide-toggle
          color="primary"
          [(ngModel)]="dark.isDark"
          #darkToggle
          [matTooltip]="
            dark.isDark() ? 'Switch to light mode' : 'Switch to dark mode'
          "
          id="dark-toggle"
          [hideIcon]="false"
        >
        </mat-slide-toggle>
      </li>
    </ul>
  </nav>
</header>

<ng-template #dropdownItems let-links let-level="level">
  <ul class="dropdown-list" [class.nested-dropdown-list]="level > 0">
    <li
      *ngFor="let linkItem of links | keyvalue : preserveOrder"
      class="dropdown-item"
      [class.nested-dropdown-item]="level > 0"
      [class.has-submenu]="
        hasDropdownLinks(asNavLink(linkItem.value)?.dropdownLinks)
      "
    >
      <ng-container *ngIf="asNavLink(linkItem.value) as navLink">
        <div
          class="dropdown-link-wrapper"
          [class.opens-left]="hasDropdownLinks(navLink.dropdownLinks)"
        >
          <a
            *ngIf="!navLink.external"
            [routerLink]="linkPath(navLink.link)"
            [queryParams]="linkQueryParams(navLink.link)"
            class="dropdown-link"
            [class.nested-dropdown-link]="level > 0"
          >
            {{ navLink.label }}
          </a>
          <a
            *ngIf="navLink.external"
            [href]="navLink.link"
            class="dropdown-link"
            [class.nested-dropdown-link]="level > 0"
          >
            {{ navLink.label }}
          </a>
          <mat-icon
            *ngIf="hasDropdownLinks(navLink.dropdownLinks)"
            class="nested-arrow"
          >
            keyboard_arrow_left
          </mat-icon>
        </div>

        <div
          *ngIf="hasDropdownLinks(navLink.dropdownLinks)"
          class="nested-dropdown-menu"
        >
          <ng-container
            *ngTemplateOutlet="
              dropdownItems;
              context: { $implicit: navLink.dropdownLinks, level: level + 1 }
            "
          ></ng-container>
        </div>
      </ng-container>
    </li>
  </ul>
</ng-template>
