<header class="navbar-header">
  <div class="navbar-logo">
    <a routerLink="/" class="logo-link">
      <img src="assets/logo/logo.png" alt="Reactome Pathway Database" class="logo-image light-only" />
      <img src="assets/logo/logo-dark.png" alt="Reactome Pathway Database" class="logo-image dark-only" />
    </a>
  </div>

  <nav class="navbar-nav">
    @if (windowWidth <= hamburgerBreakpoint) {
      <mat-icon class="menu-icon" (click)="toggleHamburgerMenu()">menu</mat-icon>
    }
    @if (windowWidth > hamburgerBreakpoint || activeHamburgerMenu) {
      <ul class="nav-list">
        @for (option of navOptions() | keyvalue: preserveOrder; track option) {
          <li
            class="nav-item"
            [class.active]="activeDropdown === option.key"
            (mouseenter)="showDropdown(option.key)"
            (mouseleave)="hideDropdown()"
            (click)="toggleDropdown(option.key)"
          >
            @if (asNavOption(option.value); as navOption) {
              <div class="nav-link-wrapper">
                @if (!navOption.external) {
                  <a
                    [routerLink]=""
                    ="
              windowWidth > hamburgerBreakpoint || navOption.label == 'Download'
                ? navOption.link
                : null
            "
                    class="nav-link"
                    [class.has-dropdown]="hasDropdownLinks(navOption.dropdownLinks)"
                  >
                    <mat-icon>
                      {{ navOption.icon }}
                    </mat-icon>
                    {{ navOption.label }}
                    @if (hasDropdownLinks(navOption.dropdownLinks)) {
                      <mat-icon class="dropdown-arrow"> keyboard_arrow_down </mat-icon>
                    }
                  </a>
                }
                @if (navOption.external) {
                  <a
                    [attr.href]=""
                    ="
              windowWidth > hamburgerBreakpoint || navOption.label == 'Download'
                ? navOption.link
                : null
            "
                    class="nav-link"
                    [class.has-dropdown]="hasDropdownLinks(navOption.dropdownLinks)"
                  >
                    <mat-icon>
                      {{ navOption.icon }}
                    </mat-icon>
                    {{ navOption.label }}
                    @if (hasDropdownLinks(navOption.dropdownLinks)) {
                      <mat-icon class="dropdown-arrow"> keyboard_arrow_down </mat-icon>
                    }
                  </a>
                }
              </div>
              @if (hasDropdownLinks(navOption.dropdownLinks)) {
                <div class="dropdown-menu" [class.show]="activeDropdown === option.key">
                  <ng-container
                    *ngTemplateOutlet="dropdownItems; context: { $implicit: navOption.dropdownLinks, level: 0 }"
                  ></ng-container>
                </div>
              }
            }
          </li>
        }
        <li class="nav-item dark-toggle-item">
          <mat-slide-toggle
            color="primary"
            [(ngModel)]="dark.isDark"
            #darkToggle
            [matTooltip]="dark.isDark() ? 'Switch to light mode' : 'Switch to dark mode'"
            id="dark-toggle"
            [hideIcon]="false"
          >
          </mat-slide-toggle>
        </li>
      </ul>
    }
  </nav>
</header>

<ng-template #dropdownItems let-links let-level="level">
  <ul class="dropdown-list" [class.nested-dropdown-list]="level > 0">
    @for (linkItem of links | keyvalue: preserveOrder; track linkItem) {
      <li
        class="dropdown-item"
        [class.nested-dropdown-item]="level > 0"
        [class.has-submenu]="hasDropdownLinks(asNavLink(linkItem.value)?.dropdownLinks)"
      >
        @if (asNavLink(linkItem.value); as navLink) {
          <div class="dropdown-link-wrapper" [class.opens-left]="hasDropdownLinks(navLink.dropdownLinks)">
            @if (!navLink.external) {
              <a
                [routerLink]="linkPath(navLink.link)"
                [queryParams]="linkQueryParams(navLink.link)"
                class="dropdown-link"
                [class.nested-dropdown-link]="level > 0"
              >
                {{ navLink.label }}
              </a>
            }
            @if (navLink.external) {
              <a [href]="navLink.link" class="dropdown-link" [class.nested-dropdown-link]="level > 0">
                {{ navLink.label }}
              </a>
            }
            @if (hasDropdownLinks(navLink.dropdownLinks)) {
              <mat-icon class="nested-arrow"> keyboard_arrow_left </mat-icon>
            }
          </div>
          @if (hasDropdownLinks(navLink.dropdownLinks)) {
            <div class="nested-dropdown-menu">
              <ng-container
                *ngTemplateOutlet="dropdownItems; context: { $implicit: navLink.dropdownLinks, level: level + 1 }"
              ></ng-container>
            </div>
          }
        }
      </li>
    }
  </ul>
</ng-template>
