$shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

.reactome-button {
    display: flex;
    flex-direction: column;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: $shadow;
    transition: background-color 0.3s, color 0.3s;
}

.dark-button {
    background: var(--primary);
    color: var(--on-primary);
    &:hover {
        border: 2px solid var(--primary);
        background: var(--on-primary);
        color: var(--primary);
    }
}

.light-button {
    background: var(--on-primary);
    color: var(--primary) !important;

    &:hover {
        border: 2px solid var(--on-primary);
        background: var(--primary);
        color: var(--on-primary) !important;
    }
}

.square-button {

}

.circle-button {
    border-radius: 50%;
}

.large-button {
    height: 185px;
    width: 185px;
    font-size: 24px;
}

.medium-button {
    height: 100px;
    width: 100px;
    font-size: 20px;
}

.small-button {
    height: 40px;
    width: 40px;
}