$spacing-unit: 16px;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: $spacing-unit;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 4px;
}

.inline-link {
  color: var(--primary);
  text-decoration: underline;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: $spacing-unit * 4;
}

.logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-unit;
  padding: $spacing-unit;
  border-radius: 4px;

  border: solid 1px #000000;
  background: white;

  &.negative {
    background: #0d1617;
    border: solid 1px #ffffff;

    .logo-options {
      border-top: solid 1px #ffffff;
    }
  }
}

.logo-options {
  display: flex;
  flex-direction: row;
  width: 95%;
  align-items: center;
  justify-content: space-evenly;
  gap: $spacing-unit * 2;

  // 4. Set the positive line to black
  border-top: solid 1px #000000;
}

.dropdown-link {
  background: var(--on-primary);
  color: var(--primary);
  text-decoration: none;
  display: block;
  padding: 4px 16px;
  border-bottom: dashed 1px var(--primary);

  &:hover {
    background: var(--primary);
    color: var(--on-primary);
  }
}

.imagotype,
.isotype {
  max-height: 100px;
  width: auto;
}
