<app-tile>
  <div class="block">
    <h1>Introducing our Logo</h1>
    <p>
      The new Reactome logo brings to the forefront the value and quality of the
      information and analysis tools that can be found in our curated database
      of pathways. The layering in our logo highlights the transparency of
      Reactome’s nature while the rounded typography matches our openness.
    </p>
    <p>
      Derived from a shape that exists in nature and at the same time gives
      structure, the logo evokes the idea of discovering by unwrapping the
      layers of knowledge that surround biological events.
    </p>
  </div>
</app-tile>
<app-tile>
  <div class="block">
    <h1>How to Use Our Logo</h1>
    <p>
      We invite you to use the brand <a href="TODO" class="inline-link">(imagotype)</a> or the logo
      <a class="inline-link" href="TODO">(isotype)</a> as you decide. We suggest the usage of our
      image against a white background but we understand that sometimes it is
      just not possible, that is why you have as well the negative of our image,
      that fits nicely against a coloured background.
    </p>
  </div>
</app-tile>
<app-tile style="width: 100%;">
  <div class="block">
    <h1>Download Our Logo</h1>
    <div class="logo-wrapper">
      <div>
        <h2>Imagotype</h2>
        <div class="logo-container">
            <div class="logo-item">
                <img class="imagotype" src="https://reactome.org/images/logo/imagotype/positive/Reactome_Imagotype_Positive_25mm.png"/>
                <div class="logo-options">
                    <app-dropdown buttonLabel="PNG">
                        <a href="TODO" class="inline-link">Small</a>
                        <a href="TODO" class="inline-link">Medium</a>
                        <a href="TODO" class="inline-link">Large</a>
                    </app-dropdown>
                    <a href="TODO" class="inline-link">SVG</a>
                    <a href="TODO" class="inline-link">EMF</a>
                </div>
            </div> 
        </div>
      </div>
      <div>
        <h2>Isotype</h2>
        <div class="logo-container">TODO: LOGOS</div>
      </div>
    </div>
  </div>
</app-tile>
