@if (shown()) {
  <div class="figure-tools" role="group" aria-label="Downloads">
    <div class="tool-group">
      <mat-icon fontSet="symbols" class="tool-icon">data_object</mat-icon>

      <a class="dl-link" [href]="sbmlUrl()" [download]="stId() + '.sbml'" matTooltip="Export as SBML">SBML</a>

      <button type="button" class="dl-link dl-menu" [matMenuTriggerFor]="biopaxMenu" matTooltip="Export as BioPAX">
        BioPAX<mat-icon fontSet="symbols">arrow_drop_down</mat-icon>
      </button>
      <mat-menu #biopaxMenu="matMenu">
        <a mat-menu-item [href]="biopax2Url()" [download]="stId() + '_level2.owl'">Level 2</a>
        <a mat-menu-item [href]="biopax3Url()" [download]="stId() + '_level3.owl'">Level 3</a>
      </mat-menu>

      <a class="dl-link" [href]="pdfUrl()" [download]="stId() + '.pdf'" matTooltip="Export as a PDF document">PDF</a>
    </div>

    @if (showFigureExports()) {
      <div class="tool-group figure-group">
        <mat-icon fontSet="symbols" class="tool-icon">download</mat-icon>

        <a class="dl-link" [href]="svgUrl()" [download]="stId() + '.svg'" matTooltip="Download the figure as SVG"
          >SVG</a
        >

        <button
          type="button"
          class="dl-link dl-menu"
          [matMenuTriggerFor]="pngMenu"
          matTooltip="Download the figure as PNG"
        >
          PNG<mat-icon fontSet="symbols">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #pngMenu="matMenu">
          @for (tier of tiers; track tier.label) {
            <a mat-menu-item [href]="pngUrl(tier.scale)" [download]="stId() + '.png'">{{ tier.label }}</a>
          }
        </mat-menu>

        <a
          class="dl-link"
          [href]="pptxUrl()"
          [download]="stId() + '.pptx'"
          matTooltip="Download the figure as PowerPoint"
          >PPTX</a
        >

        <a class="dl-link" [href]="sbgnUrl()" [download]="stId() + '.sbgn'" matTooltip="Export as SBGN">SBGN</a>
      </div>
    }
  </div>
}
