<h1 class="api-data-header">API and Data Access</h1>
<app-carousel class="api-data-container" [dark]="false">
  <a class="api-data-link" [href]="navOptions['tools']?.dropdownLinks?.['content-service']?.link || ''"><app-button
    variant="light"
    size="large"
    shape="circle"
    class="api-data-button"
  >
    <mat-icon class="api-data-icon">computer</mat-icon>
    Content Service
  </app-button></a>

  <a class="api-data-link" [href]="navOptions['tools']?.dropdownLinks?.['analysis-service']?.link || ''"><app-button
    variant="light"
    size="large"
    shape="circle"
    class="api-data-button"
  >
    <mat-icon class="api-data-icon">trending_up</mat-icon>
    Analysis Service
  </app-button></a>

  <a class="api-data-link" [href]="navOptions['community']?.dropdownLinks?.['icon-library']?.link || ''"><app-button
    variant="light"
    size="large"
    shape="circle"
    class="api-data-button"
  >
    <mat-icon class="api-data-icon">archive</mat-icon>
    Icon Library
  </app-button></a>

  <a class="api-data-link" [href]="navOptions['docs']?.dropdownLinks?.['developers-zone']?.dropdownLinks?.['graph-database']?.link || ''"><app-button
    variant="light"
    size="large"
    shape="circle"
    class="api-data-button"
  >
    <mat-icon class="api-data-icon">storage</mat-icon>
    Graph Database
  </app-button></a>
</app-carousel>
