@use '@angular/material' as mat;


.download-container {
  padding: 0 5px 0 20px;
  scrollbar-gutter: stable;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;

  .category {
    padding: 0 2px;
    font-weight: 500;
    letter-spacing: 0.15px;
    color: var(--outline);
    font-size: 16px;
    line-height: 24px;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 8px;
    background: var(--primary-container);
    color: var(--on-primary-container);
    border-radius: 15px 15px 0 0;
    font: var(--mat-sys-body-medium);
    box-shadow: var(--mat-sys-level1);
    height: var(--bottom-panel-tabs-header-height);
    margin-top: 10px
  }

}

.divider {
  width: 100%;

  @include mat.divider-overrides((
    width: 2px,
  ));

}

.container {
  gap: 20px;
  padding-bottom: 10px;
  display: grid;
}

.diagram {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.reacfoam {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.pathway {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.analysis {
  grid-template-columns: repeat(3, 1fr);
}

.newtIcon {
  width: 18px;
  display: flex;
  color: var(--tertiary-contrast-3);
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100cqw;
  margin-top: 20px
}
