<form class="search-bar-container" (submit)="onSubmit($event)">
  <input
    type="text"
    placeholder="e.g. O95631, NTN1, signaling by EGFR, glucose"
    class="search-input"
    [value]="query"
    (input)="onInput($event)"
    (focus)="showDropdown()"
    (blur)="hideDropdownDelayed()"
    autocomplete="off"
    (submit)="onSubmit($event)"
  />
  <button type="submit" class="search-button">
    Go!
  </button>
</form>

@if (query && suggestions.length > 0 && showSuggestions) {
<div class="suggestions-container">
  <ul class="suggestions-list">
    @for (s of suggestions; track s; let i = $index) {
    <li (mousedown)="selectSuggestion(s)" [class]="i === highlightedIndex ? 'highlighted' : ''">
      <a
        [routerLink]="['/content/query']"
        [queryParams]="{ q: s }"
        (click)="showSuggestions = false"
      >
        {{ s }}
      </a>
    </li>
    }
  </ul>
</div>
}
