<form class="search-bar-container" (submit)="onSubmit($event)" (focus)="showSuggestions = true" (blur)="showSuggestions = false">
    <input type="text" placeholder="e.g. O95631, NTN1, signaling by EGFR, glucose" class="search-input" [value]="query" (input)="onInput($event)" autocomplete="off" />
    <button type="submit" class="search-button">Go!</button>
</form>
@if (query && suggestions.length > 0) {
    <div [class]="'suggestions-container' + (showSuggestions ? '' : ' hide')">
        <ul class="suggestions-list">
            @for (s of suggestions; track s) {
                <li>
                    <a [href]="'/content/query?q=' + s">{{ s }}</a>
                </li>
            }
        </ul>
    </div>
}