@use '@angular/material' as mat;

.container {
  padding-left: 20px;
  padding-right: 5px;

  .found-section {
    position: relative;

    table#result-table {
      min-width: 0;
      width: 100%;

      ::ng-deep.mat-sort-header-content {
        text-wrap: balance;
      }
    }
  }
}
.pathway-name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  max-width: 20cqw;
  white-space: nowrap;
  display: block;
  overflow: clip;
  text-overflow: ellipsis;
}
.icon {
  width: 18px;
  height: 18px;
  vertical-align: sub;
  margin-right: 2px;

  &.ehld {
    color: var(--primary);
  }
}

.pathway-row {
  cursor: pointer;
  scroll-margin-top: var(--header-row-height);

  &:hover {
    background: var(--surface1);
  }

  &.expanded {
    position: sticky;
    z-index: 99;
    top: var(--header-row-height);

    td {
      border-bottom: 0;
    }
  }

  &.selected {
    background: var(--primary);
    color: var(--on-primary);

    --mat-icon-color: var(--on-primary);

    &:hover {
      background: var(--primary-container);
      color: var(--on-primary-container);
      --mat-icon-color: var(--on-primary-container);

      .icon.ehld {
        color: var(--on-primary-container);
      }
    }


    .icon.ehld {
      color: var(--on-primary);
    }
  }

}


.selected-expression {
  text-decoration: underline;
}

.found-entity-row:not(.expanded) {
  height: 0;
  display: none;
}

.found-entity-row.expanded {
  .mat-column-expand-container {
    background: var(--primary);
    overflow: visible;
    padding: 0 20px 20px 20px;
  }
}

.controls {
  position: sticky;
  bottom: 2px;
  width: fit-content;
  right: 0;
  margin: 20px auto;
  //margin-right: 0;
  background: color-mix(in srgb, var(--surface) 80%, transparent);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 100px;
  border: 1px solid var(--outline-variant);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  @container bottom-panel (height < 200px) {
    // When the bottom panel is too small, remove sticky
    position: relative !important;

  }


  *:first-child {
    margin-left: 5px;
  }

  mat-paginator {
    background: transparent;
  }

  @include mat.paginator-overrides((
    form-field-container-height: 20px,
    form-field-container-vertical-padding: 2px,
    container-size: 32px,
  ));

  @include mat.slide-toggle-overrides((
    label-text-font: var(--mat-sys-body-small-font),
    label-text-size: var(--mat-sys-body-small-size)
  ));
}


mat-expansion-panel {
  overflow: clip !important; // Avoid sticky not working inside
}

.expand-button {
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);

  &.expanded {
    transform: rotate(180deg);
  }
}


.curated {
  font-weight: bold;
}

.interactor {
  text-decoration: underline;
}

.slider-container {
  overflow: visible;
  max-width: 99.5%;

  label {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;

    .mat-mdc-slider {
      flex: 1 1 auto;
    }
  }

  &.single-thumb {
    .mat-mdc-slider {
      margin-right: 8px; // Align to double thumb
    }
  }

  &.expression {

    ::ng-deep {
      .mdc-slider__track--inactive {
        background: var(--gradient);
      }

      .mdc-slider__track--active {
        background: var(--gradient);
        position: relative;

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          background: color-mix(in srgb, var(--surface) 70%, transparent);
          mask-image: var(--gradient-mask);
        }

        .mdc-slider__track--active_fill {
          opacity: 0;
        }
      }

      mat-slider-visual-thumb:first-of-type {
        --expression-color: var(--expression-color-start);
        --faded-color: color-mix(in srgb, var(--expression-color) 80%, transparent);
        @include mat.slider-overrides((
          handle-color: var(--expression-color),
          label-container-color: var(--expression-color),
          focus-handle-color: var(--faded-color),
          hover-handle-color: var(--faded-color),
        ));

      }

      mat-slider-visual-thumb:last-of-type {
        --expression-color: var(--expression-color-stop);
        --faded-color: color-mix(in srgb, var(--expression-color) 80%, transparent);
        @include mat.slider-overrides((
          handle-color: var(--expression-color),
          label-container-color: var(--expression-color),
          focus-handle-color: var(--faded-color),
          hover-handle-color: var(--faded-color),
        ));
      }
    }
  }

  @include mat.slider-overrides((
    value-indicator-width: 35px,
    value-indicator-height: 35px,
  ));


}

.no-wrap {
  text-wrap: nowrap;
  flex-wrap: nowrap;
}


.mat-mdc-menu-item .mat-icon {
  vertical-align: middle;
  margin-right: 0;
  margin-left: -10px; // Stick to checkbox
  color: var(--on-surface-variant);
}

.mat-mdc-checkbox-checked,
.mat-mdc-radio-checked {
  .mat-icon {
    color: var(--primary);
  }
}

.filter-active {
  color: var(--primary);
  text-decoration: underline;
}

.not-found-section {
  margin-bottom: 1em;

  .badge {
    background-color: var(--primary-container);
    color: var(--on-primary-container);
    border-radius: 50px;
    font: var(--mat-sys-label-medium);
    padding: 2px 6px;
    margin-left: 4px;
  }
}

.header {
  background: var(--primary-container);
  padding: 8px 16px;
  color: var(--on-primary-container);
  border-radius: 15px 15px 0 0;
  margin-top: 10px;
  font: var(--mat-sys-body-medium);
  box-shadow: var(--mat-sys-level1);
  position: relative;
  z-index: 101;


  @include mat.form-field-overrides((
    container-height: 20px,
    container-vertical-padding: 5px,
  ));

  @include mat.select-overrides((
    trigger-text-size: var(--mat-sys-body-medium-size)
  ));
}

