.button {
  text-decoration: none;
  display: flex;
  background: var(--tertiary-contrast-3);

  ::ng-deep .mdc-button__label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
