<div id="component-container">
  <div class="controllers">
    <div class="depth-controller" gaCategory="depth-controller">
      @if (depthControl()) {
        <button mat-icon-button class="arrow" [disabled]="depthIndex() === 1" (click)="firstPage()"
                matTooltip="Collapse all" gaEvent gaAction="collapse-all">
          <mat-icon fontSet="symbols">vertical_align_top</mat-icon>
        </button>
        <button mat-icon-button class="arrow" [disabled]="depthIndex() === 1" (click)="previousPage()"
                matTooltip="Collapse one" gaEvent gaAction="collapse-one" [gaValue]="depthIndex()">
          <mat-icon fontSet="symbols" class="flipped">step_into</mat-icon>
        </button>
        <span class="counter">{{ depthIndex() }}</span>

        <button mat-icon-button class="arrow" [disabled]="depthIndex() === maxDepth()" (click)="nextPage()"
                matTooltip="Expand one" gaEvent gaAction="expand-one" [gaValue]="depthIndex()">
          <mat-icon fontSet="symbols">step_into</mat-icon>
        </button>
        <button mat-icon-button class="arrow" [disabled]="depthIndex() === maxDepth()" (click)="lastPage()"
                matTooltip="Expand all" gaEvent gaAction="expand-all">
          <mat-icon fontSet="symbols">vertical_align_bottom</mat-icon>
        </button>
      }
    </div>
    @if (hasPagination()) {
      <mat-paginator hidePageSize [pageSize]="pageSize()" [length]="data().length" (page)="currentPage.set($event)" class="paginator"></mat-paginator>
    }
  </div>




  <div class="composition-container">
    <cr-object-tree [type]="type()" [data]="displayedData()" [hasDepthControl]="depthControl()" [(depthIndex)]="depthIndex"
                    [(depthChangeSource)]="depthChangeSource" [scope]="scope()"
                    [disableNavigation]="disableNavigation()"></cr-object-tree>
  </div>

</div>
