<div class="related-wrapper">
    <a class="related-link" href="https://elixir-europe.org/platforms/data/core-data-resources" >
    <div class="releated-logo-info">
        <img class="related-logo" src="/assets/logo/related/core-data-resources-logo.png" />
        <div class="elixir-text">
            <span class="info-text">Reactome is part of the ELIXIR infrastructure</span>
            <span class="info-subtext">Reactome is an Elixir Core Data Resource</span>
        </div>
    </div>
    <span class="learn-more">Learn More ></span>
</a>
<a class="related-link" href="https://globalbiodata.org/scientific-activities/global-core-biodata-resources/" >
    <div class="releated-logo-info">
        <img class="related-logo" src="/assets/logo/related/GCBR-Logo-RGB_WcircleBG.png" />
        <span class="info-text">Reactome is Global Core Biodata Resource</span>
    </div>
    <span class="learn-more">Learn More ></span>
</a>
<a class="related-link" href="https://www.coretrustseal.org/" >
    <div class="releated-logo-info">
        <img class="related-logo" src="/assets/logo/related/CoreTrustSeal-logo.jpg" />
        <span class="info-text">Reactome is CoreTrustSeal certified data repository</span>
    </div>
    <span class="learn-more">Learn More ></span>
</a>
</div>