:host {
  width: 100%;
  height: 100%;
}

div {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

svg {
  height: 100%;
  width: auto;
}
