<div class="why-wrapper">
  <h1 class="why-title">Why Reactome?</h1>
  <p class="why-text">
    Reactome is a free, open-source, curated and peer-reviewed pathway database.
    Our goal is to provide intuitive bioinformatics tools for the visualization,
    interpretation and analysis of pathway knowledge to support basic research,
    genome analysis, modeling, systems biology and education.
  </p>
  <div class="sponsor-logos">
    <a href="http://www.ebi.ac.uk/"
      ><img
        class="sponsor-logo"
        src="/assets/logo/sponsor/embl_ebi_logo.png"
        alt="EMBL-EBI Logo"
    /></a>
    <a href="https://med.nyu.edu/"
      ><img
        class="sponsor-logo"
        src="/assets/logo/sponsor/ncpsb.png"
        alt="NCPSB Logo"
    /></a>
    <a href="http://www.ohsu.edu/"
      ><img
        class="sponsor-logo"
        src="/assets/logo/sponsor/nyul_health_logo.png"
        alt="NYUL Health Logo"
    /></a>
    <a href="https://oicr.on.ca/"
      ><img
        class="sponsor-logo"
        src="/assets/logo/sponsor/oicr_logo.png"
        alt="OICR Logo"
    /></a>
  </div>
  <p class="why-text">
    The development of Reactome is supported by
    <a class="grant-link" href="TODO">grants</a> from the US National Institutes
    of Health (U24 HG012198) and the European Molecular Biology Laboratory.
  </p>
</div>
