<div class="dropdown" (mouseleave)="hideMenu()">
  <div class="dropdown-button" [style]="buttonStyle" (mouseenter)="viewMenu()" (click)="(toggleMenu)">
    @if (buttonIcon) {
      <mat-icon class="dropdown-icon">{{ buttonIcon }}</mat-icon>
    }
    @if (buttonLabel) {
      <span class="dropdown-label">{{ buttonLabel }}</span>
    }
    <mat-icon class="dropdown-arrow">keyboard_arrow_down</mat-icon>
  </div>
  @if (menuDown) {
    <div class="dropdown-menu" [style]="menuStyle">
      <ng-content></ng-content>
    </div>
  }
</div>
