.dropdown-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 4px;

    &:hover {
        mat-icon {
            transform: rotate(180deg);
            transition: transform 0.3s ease;
        }
    }
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
}