<div class="home-search-tile">
    <span>Find Reactions, Proteins and Pathways</span>
    <app-search-bar/>
</div>
<div class="new-pathway-tile">
    <span>Introducing Reactome’s new Pathway Browser! Click the button to explore the new Pathway Browser Beta! Don’t forget to read our 
        <a href="#TODO">Release Notes</a>, and share your <a href="#TODO">feedback</a>!</span>
        <button class="pathway-tile-button">Explore the New Pathway Browser</button>
</div>
<div class="home-shortcut-tile">
    <app-home-shortcuts/>
</div>
<div class="home-spotlight-tile">
    <app-home-spotlight/>
</div>
<div class="home-why-latest-tile">
    <app-home-why-reactome/>
    <app-home-latest-news/>
</div>
<div class="home-stats-tile">
    <app-home-stats/>
</div>
<div class="home-help-tile">
    <app-home-help/>
</div>
<div class="home-api-data-tile">
    <app-home-api-data/>
</div>
<div class="home-related-tile">
    <app-home-related/>
</div>