<app-tile variant="light" class="home-search-tile" style="flex-direction: column !important; gap: 0px;">
    <h1 class="home-search-title">Find Reactions, Proteins, and Pathways</h1>
    <app-search-bar/>
</app-tile>
<app-tile variant="dark" class="new-pathway-tile">
    <span>Introducing Reactome’s new Pathway Browser! Click the button to explore the new Pathway Browser Beta!</span>  
    <span>Don’t forget to read our 
        <a class="pathway-link" href="#TODO">Release Notes</a>, and share your 
        <a class="pathway-link" href="#TODO">Feedback</a>!
    </span>
    <app-button variant="light" size="medium" shape="circle" class="pathway-tile-button">Explore the New Pathway Browser</app-button>
</app-tile>
<app-tile variant="light" class="home-shortcut-tile" id="tools">
    <app-home-shortcuts/>
</app-tile>
<app-tile variant="dark-transparent" class="home-news-why-tile">
    <app-home-spotlight/>
    <app-home-why-reactome/>
    <app-home-latest-news/>
</app-tile>
<app-tile variant="light" class="home-stats-tile">
    <app-home-stats/>
</app-tile>
<app-tile variant="dark" class="home-help-tile">
    <app-home-help/>
</app-tile>
<app-tile variant="dark" class="home-api-data-tile">
    <app-home-api-data/>
</app-tile>
<app-tile variant="light" class="home-related-tile">
    <app-home-related/>
</app-tile>