<app-tile variant="light" class="home-search-tile">
    <app-search-bar/>
</app-tile>
<app-tile variant="light-transparent" class="new-pathway-tile">
    <span>Introducing Reactome’s new Pathway Browser! Click the button to explore the new Pathway Browser Beta! Don’t forget to read our 
        <a href="#TODO">Release Notes</a>, and share your <a href="#TODO">feedback</a>!</span>
        <button class="pathway-tile-button">Explore the New Pathway Browser</button>
</app-tile>
<app-tile variant="dark" class="home-shortcut-tile">
    <app-home-shortcuts/>
</app-tile>
<app-tile variant="dark-transparent" class="home-spotlight-tile">
    <app-home-spotlight/>
</app-tile>
<app-tile class="home-why-latest-tile">
    <app-home-why-reactome/>
    <app-home-latest-news/>
</app-tile>
<app-tile class="home-stats-tile">
    <app-home-stats/>
</app-tile>
<app-tile class="home-help-tile">
    <app-home-help/>
</app-tile>
<app-tile class="home-api-data-tile">
    <app-home-api-data/>
</app-tile>
<app-tile class="home-related-tile">
    <app-home-related/>
</app-tile>