.shortcut-link {
  text-decoration: none !important;

  ::ng-deep .large-button {
    height: 139px;
    width: 139px;
    font-size: 18px;
  }
}

.large-button-icon {
  font-size: 30px;
  height: 30px;
  width: 30px;
}

.webbench-icon {
  width: 68px;
  height: 68px;
  object-fit: contain;
}