<div class="info-footer-container">
  <footer class="info-footer-wrapper">
    @for (item of navOptions() | keyvalue: preserveOrder; track item.key) {
      <ul class="info-footer-list">
        <li class="info-option-item">
          <div class="info-link-container">
            <mat-icon class="info-option-icon">
              {{ item.value.icon }}
            </mat-icon>
            <a [href]="item.value.link" class="info-option-link">
              {{ item.value.label }}
            </a>
          </div>
        </li>
        @for (linkItem of item.value.dropdownLinks | keyvalue: preserveOrder; track linkItem.key) {
          <li class="info-suboption-item">
            <div class="info-link-container">
              <a [href]="linkItem.value.link" class="info-option-link">
                {{ linkItem.value.label }}
              </a>
            </div>
          </li>
        }
      </ul>
    }
  </footer>
</div>
